.button {
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-family: "Helvetica Neue";
  font-weight: 900;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--primary {
    border: none;
    background: transparent;
    color: #1a5fba;
    transition: transform 0.2s;
    font-size: 36px;

    @media only screen and (max-width: 600px) {
      font-size: 24px;
    }

    &:enabled:active {
      transform: scale(0.9);
    }

    &:hover {
      color: black;
    }

    &:hover:disabled {
      background: transparent;
    }
  }

  &--secondary {
    border: none;
    background: transparent;
    font-size: 20px;
    color: black;
    padding: 0 5px;
  }

  &--link {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-weight: 300;
    font-size: 14px;
    color: black;
  }
}
