@use "utils/mixins/semantics";
@use "utils/mixins/colors";

.button {
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-family: "Helvetica Neue";
  font-weight: 900;
  padding: 0;
  min-width: 124px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--primary {
    background: semantics.$button-background-color;
    border: none;
    border-radius: 10px;
    color: semantics.$button-text-color;
    transition: transform 0.2s;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 500;
    padding: 12px 32px;
    border: 2px solid transparent;

    @media only screen and (max-width: 900px) {
      padding: 10px 24px;
    }

    &:enabled:active {
      transform: scale(0.9);
    }

    &:hover {
      color: colors.$dark-grey;
      background: colors.$beige;
      border: 2px solid colors.$dark-grey;
    }

    &:hover:disabled {
      background: transparent;
    }
  }

  &--secondary {
    color: colors.$dark-grey;
    background: colors.$beige;
    border: 2px solid colors.$dark-grey;
    border-radius: 10px;
    padding: 12px 32px;
  }

  &--tertiary {
    border: none;
    background: transparent;
    font-size: 20px;
    color: black;
    padding: 0 5px;
  }

  &--link {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-weight: 300;
    font-size: 14px;
    color: black;
  }
}
