.link {
  border-radius: 5px;
  outline: none;
  width: fit-content;
  height: fit-content;
  font-family: "Helvetica Neue";
  font-weight: 900;
  padding: 0;
  text-decoration: none;

  border: none;
  background: transparent;
  color: #1a5fba;
  transition: transform 0.2s;
  font-size: 36px;

  @media only screen and (max-width: 600px) {
    font-size: 24px;
  }

  &:hover {
    color: black;
  }
}
