@use "utils/mixins/colors";

.marquee {
  position: sticky !important;
  top: 89px;

  @media only screen and (max-width: 900px) {
    top: 69px;
  }
}

.steps {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-right: 120px;

  img {
    height: 12px;
  }

  p {
    font-size: 24px;
    font-weight: 600;
  }

  @media only screen and (max-width: 600px) {
    gap: 16px;

    img {
      height: 10px;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100dvw;
    max-width: 1048px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    &--step-2 {
      margin-top: 32px;
    }

    .question {
      display: flex;
      align-items: center;
      column-gap: 16px;
      padding: 8px;
      flex-wrap: wrap;

      p {
        margin: 0;
      }
    }
  }
}

.title {
  padding: 8px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.button-container {
  display: flex;
  gap: 12px;

  .button {
    margin: 32px 0;
    font-size: 16px;
  }
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 20px;

  .text-input {
    width: 100%;
    max-width: 300px;
  }
}

.error-message {
  font-size: 12px;
  color: red;
  padding: 0 4px;
  margin: 0;
}

.sent {
  margin-top: 100px;
}
