.header {
  .logo {
    overflow-wrap: break-word;
    font-size: 100px;
    line-height: 110px;
    font-weight: 900;
    padding: 25px;

    @media only screen and (max-width: 900px) {
      padding: 15px;
    }
  }

  .description {
    padding: 0px 30px;
    line-height: 24px;
    max-width: 800px;

    @media only screen and (max-width: 900px) {
      padding: 15px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  padding: 50px;

  @media only screen and (max-width: 600px) {
    padding: 25px 15px;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 48px;
    padding: 0 0 20px 10px;
    color: #1a5fba;

    @media only screen and (max-width: 600px) {
      padding: 25px 0 10px 5px;
      font-size: 24px;
    }
  }

  .contact-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 600px) {
      margin-bottom: 10px;
      align-items: flex-start;
    }

    &--small {
      flex-direction: column;
    }

    .contact-title {
      color: #1a5fba;
      font-size: 36px;
      font-weight: 400;
      margin: 15px 0px;

      @media only screen and (max-width: 600px) {
        font-size: 24px;
        font-weight: 900;
        margin: 32px 0px;
      }
    }

    .contact-list {
      display: flex;
      column-gap: 32px;
      row-gap: 16px;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    .contact-link {
      color: black;
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 24px;
      z-index: 100;
    }
  }

  .masonry-grid {
    display: flex;
    margin-left: -30px;
    width: auto;

    .product-image {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }

  @media only screen and (max-width: 600px) {
    .masonry-grid {
      margin-left: -16px;

      .product-image {
        margin-bottom: 16px;
      }
    }

    .masonry-grid_column {
      padding-left: 16px; /* gutter size */
      background-clip: padding-box;
    }
  }

  /* Style your items */
  .masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 40px;
  }
}

.blob-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .blob {
    margin: 32px;
  }
}
