@use "utils/mixins/semantics";

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayXXThin.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayXThin.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayThin.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayLight.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayRoman.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayMedium.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayBold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src:
    local("Neue Haas Grotesk Display Pro"),
    url(./fonts/NeueHaasDisplayBlack.ttf) format("truetype");
  font-weight: 900;
}

body,
html {
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.33px;
  min-height: 100dvh;

  width: 100vw;
  margin: 0;
  background-color: semantics.$background-color;

  & > #root {
    height: 100%;
    padding: 24px;

    @media only screen and (max-width: 900px) {
      padding: 12px;
    }
  }
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

h1 {
  margin: 16px 0;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 700;
}

h3 {
  margin: 4px 0;
  font-size: 16px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
