body,
html {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #d9d9d9;

  height: 100dvh;

  & > #root {
    height: 100%;
  }
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
